[submodule "extern/llama.cpp"]
	path = extern/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
	branch = master
[submodule "main"]
	path = main
	url = https://github.com/BirthAndDeath/error22_einval_main.git
	branch = main
