name: Flutter CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2  
        with:
          flutter-version: '3.22'
          channel: stable
      - run: cd ./main    
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test
      - run: flutter build apk --release
      - run: flutter build linux --release
      - uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: ./main/build/app/outputs/flutter-apk/app-release.apk